<table class="table table-stripped">
  <thead>
    <tr>
      <th>Flight No</th>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Arrival</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @flight.number %></td>
      <td><%= @flight.departure_airport.location_with_code %></td>
      <td><%= @flight.arrival_airport.location_with_code %></td>
      <td><%= @flight.departure_date.strftime("%d %B %Y") %></td>
      <td><%= @flight.departure_time.strftime("%H:%M") %></td>
      <td><%= @flight.duration_readable %></td>
      <td><%= @flight.arrival_time %></td>
    </tr>
  </tbody>
</table>

<% @booking.passengers.each.with_index do |passenger, index| %>
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Passenger Name</th>
        <th>Flight No</th>
        <th>Gate</th>
        <th>Seat</th>
        <th>Boarding Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= passenger.name %></td>
        <td><%= @flight.number %></td>
        <td><%= @booking.gate %></td>
        <td><%= @booking.seat + "#{[*"A".."D"][index]}" %></td>
        <td><%= @booking.boarding_time.strftime("%H:%M") %></td>
      </tr>
    </tbody>
  </table>
<% end %>
