<div class="info-box mb-4">

  <div class="info-box-header rounded-top">
    <h2 class="flight-title text-center">
      <%= @flight.departure_airport.location_with_code %>
        <span class="arrow">&#8594;</span>
        <%= @flight.arrival_airport.location_with_code %>
    </h2>
  </div>

  <div class="info-box-content rounded-bottom">
    <table class="table mb-0">
      <thead class="thead-default">
        <tr>
          <th>Flight No</th>
          <th>From</th>
          <th>To</th>
          <th>Date</th>
          <th>Time</th>
          <th>Arrival</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @flight.number %></td>
          <td><%= @flight.departure_airport.location_with_code %></td>
          <td><%= @flight.arrival_airport.location_with_code %></td>
          <td><%= @flight.date_readable %></td>
          <td><%= @flight.time_readable %></td>
          <td><%= @flight.arrival_time_readable %></td>
          <td><%= @flight.duration_readable %></td>
        </tr>
      </tbody>
    </table>

    <div id="map"></div>
    <script>
      var map = L.map('map', { zoomControl: false });
      map.setView([<%= @flight.mid_latitude %>,
                   <%= @flight.mid_longitude %>],
                   <%= map_zoom(@flight) %>);

      L.tileLayer('<%= Leaflet.tile_layer %>', {
                attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);

      // Disable drag and zoom handlers.
      map.dragging.disable();
      map.touchZoom.disable();
      map.doubleClickZoom.disable();
      map.scrollWheelZoom.disable();
      map.keyboard.disable();

      // Disable tap handler, if present.
      if (map.tap) map.tap.disable();

      // Start and end points, in x = longitude, y = latitude values
      var start = { x: <%= @flight.departure_airport.longitude %>,
                    y: <%= @flight.departure_airport.latitude %> };
      var end = { x: <%= @flight.arrival_airport.longitude %>,
                  y: <%= @flight.arrival_airport.latitude %> };
      var generator = new arc.GreatCircle(start, end);
      var line = generator.Arc(500, { offset: 10 });
      L.geoJson(line.json()).addTo(map);
    </script>

  </div>
</div>

<div class="info-box mb-4">

  <div class="info-box-header rounded-top">
    <h2 class="flight-title text-center">
      <%= "Passenger".pluralize(@booking.passengers.size) %>
    </h2>
  </div>

  <div class="info-box-content rounded-bottom">
    <table class="table mb-0">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Seat</th>
        </tr>
      </thead>
      <tbody>
        <% @booking.passengers.each.with_index do |passenger, index| %>
          <tr>
            <td><%= passenger.full_name %></td>
            <td><%= passenger.email_hidden %></td>
            <td><%= @booking.seat + "#{[*"A".."D"][index]}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<a href="<%= root_path %>" class="btn btn-primary btn-lg btn-block btn-love mb-4">
  I love this! &#10084; I want to book another flight!
</a>
